<!DOCTYPE html>
<html>
<head><title>To-Do List</title></head>
<body>
    <h1>Add a To-Do Item</h1>
    <form action="/submittodoitem" method="POST">
        <label>Item Name:</label>
        <input type="text" name="itemName"><br><br>
        <label>Item Description:</label>
        <input type="text" name="itemDescription"><br><br>
        <label>Item ID:</label>
        <input type="text" name="itemId"><br><br>
        <label>Item UUID:</label>
        <input type="text" name="itemUuid"><br><br>
        <label>Item Hash:</label>
         <label>Item Hash:</label>
        <input type="text" name="itemHash"><br><br>
        <button type="submit">Add Item</button>
    </form>
</body>
</html>
